.driver-card {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-top-right-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 460px;
}

.driver-card:hover{
    border-top: 3px solid red;
    border-right: 3px solid red;
}

.line {
    width: 98%;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid gray;
    position: relative;
}


.flag {
    margin: 0 5px 0 0 ;
}

.plus-div{
    background-image: url("https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png");
    background-repeat: repeat; 
    height: 87%;
    width: 99%;
    margin: 0 5px 0 0 ;

}

.pts-div{
    font-size: 30;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    color: white;
}

.driver-firstname{
    font-size: 27;
}

.driver-lastname{
    font-size: 35;
    font-weight: bold;
}

.team-name{
    font-size: 20;
    color: grey;
}

.pts-button:hover{
    background-color: green;
} 

.pts-button {
    position: relative;
    background-color: red;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 48%;
    border-radius: 7px;

    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .pts-button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .pts-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


.space-between{
    display: flex; 
    justify-content: 
    space-between; 
    padding: 10px 0; 
    margin: 0; 
}

.div-relative {
    position: relative; 
    height: 22%; 
    display: flex; 
    align-items: flex-end;
}

.driver-number{
    font-size: 80;
    position: absolute; 
    bottom: 0;
    background-color: white;
    width: 30%;
    text-align: center;
}

#driver-img{
    position: absolute; 
    margin-left: 27%;
}