.driver-card {
    /* border: 2px solid green; */
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 300px;
    /*height: 450px;*/
}

.line {
    width: 98%;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid gray;
    position: relative;
}

.driver-number{
    left: auto;
    bottom: auto;
    height: 0;
    width: 100%;
    position :relative; /*added*/
    z-index : -99 /*added*/
}

.flag {
    margin: 0 5px 0 0 ;
}

.plus-div{
    background-image: url("https://www.formula1.com/etc/designs/fom-website/images/patterns/plus-x1.png");
    background-repeat: repeat; 
    height: 70%;
    width: 99%;
    margin: 0 5px 0 0 ;

}

.pts-div{
    font-size: 25;
    border-radius: 5px;
    background-color: black;
    color: white;
}



.pts-button{
    width: 49%;
    height: 35px;
    font-size: 30;
    background-color: red;
    color: black;
    border-radius: 7px;
}

.space-between{
    display: flex; 
    justify-content: 
    space-between; 
    padding: 10px 0; 
    margin: 0; 
}

.div-relative {
    position: relative; 
    height: 250px; 
    display: flex; 
    align-items: flex-end;
}

.driver-number{
    font-size: 80;
    position: absolute; 
    bottom: 0;
}